node_modules/
dist/
.DS_Store
*.log
.vscode/
.idea/
.env

# Android / Capacitor
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/app/release/
*.keystore
*.jks
key.properties
